/*@font-face {
    font-family: "BrushScript";
    src: url("../fonts/BrushScript.ttf") format("truetype");
}*/

.conteudo {
  width: 72%;
  background-color: rgb(233, 233, 201);
  margin: 120px auto;
  padding: 50px;
  border-radius: 10px;
  font-size: 20px;
  color: black;
}

/* {
    color: rgb(248, 245, 245);
   /* font-family: "BrushScript";
    font-size: 26px;
    line-height: 15px;
}*/

.background {
  background-image: url(img/cool-background.png);
  background-attachment: fixed;
  padding: 2px;
}

.topo {
  margin-top: 2%;
  text-align: center;
  color: black;
}

.topo img {
  float: left;
  width: 180px;
  padding: 60px;
  margin-right: 10px;
  margin-top: 0.5%;
}

.titulo {
  margin-top: 14%;
  text-align: left;
}

.cabecalho {
  padding-top: 25px;
  color: rgb(13, 14, 2);
  text-align: center;
  margin-right: 700px;
  font-size: 20px;
}

.iniciar {
  text-align: center;
  margin-top: 10%;
  color: rgb(206, 198, 198);
  font-size: 140%;
}

.navigation li {
  display: inline-block;
  width: 220px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.navigation li a:link,
.navigation li a:visited {
  color: gray;
  text-decoration: none;
}

.navigation li a:hover {
  color: gray;
  text-decoration: underline;
}

.navigation li a:active {
  color: gray;
  text-decoration: underline;
}

.fonte--media {
  font-size: 1, 7rem;
}

.img {
  width: 280px;
}

.email {
  color: rgb(212, 31, 31);
}

.medir label {
  width: 150px;
  display: inline-block;
}

.medir progress {
  accent-color: #2e2d4c;
}
.figura img {
  border-radius: 8px;
  filter: grayscale(0.4);
}

.figura img:hover {
  filter: none;
}

.btn-inicio {
  font-size: 3rem;
  color: rgb(226, 225, 225);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: rgb(223, 223, 219);
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.3;
  z-index: 1;
}

.btn-inicio:hover {
  opacity: 1;
}

.footer {
  position: relative;
  padding: 80px;
  background-color: #706e79;
  color: #fff;
  text-align: center;
}
