/*@font-face {
    font-family: "BrushScript";
    src: url("../fonts/BrushScript.ttf") format("truetype");
}*/
html {
  scroll-behavior: smooth;
}
.conteudo {
  width: 72%;
  background-color: #e9e9c9;
  margin: 120px auto;
  padding: 50px;
  border-radius: 10px;
  font-size: 20px;
  color: #000000;
}

/* {
    color: rgb(248, 245, 245);
   /* font-family: "BrushScript";
    font-size: 26px;
    line-height: 15px;
}*/

.background {
  background-image: url(img/cool-background.png);
  background-attachment: fixed;
  padding: 2px;
}

.topo {
  margin-top: 2%;
  text-align: center;
  color: #000000;
}

.topo img {
  float: left;
  width: 180px;
  padding: 60px;
  margin-right: 10px;
  margin-top: 0.5%;
}

.titulo {
  margin-top: 18%;
  font-size: 35px;
  color: #000000;
}

.cabecalho {
  padding-top: 25px;
  color: #0d0e02;
  text-align: center;
  margin-right: 700px;
  font-size: 20px;
}

.cabecalhos {
  padding-top: 20px;
  color: #0d0e02;
  text-align: center;
  margin-right: 700px;
  font-size: 20px;
}
.iniciar {
  text-align: center;
  margin-top: 10%;
  color: #cec6c6;
  font-size: 140%;
}

.navigation li {
  display: inline-block;
  width: 280px;
  font-size: 1rem;
  text-transform: uppercase;
}

.navigation li a:link,
.navigation li a:visited {
  color: #808080;
  text-decoration: none;
}

.navigation li a:hover {
  color: #808080;
  text-decoration: underline;
}

.navigation li a:active {
  color: #808080;
  text-decoration: underline;
}

.fonte--media {
  font-size: 1, 7rem;
}

.img {
  width: 280px;
}

.email {
  color: #d41f1f;
}

.medir label {
  width: 150px;
  display: inline-block;  
}

.medir progress {
  accent-color:  #808080;
}

.figura img {
  border-radius: 8px;
  filter: grayscale(0.4);
}

.figura img:hover {
  filter: none;
}

.btn-inicio {
  font-size: 3rem;
  color: #e2e1e1;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #dfdfdb;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.3;
  z-index: 1;
}

.btn-inicio a {
  color: #808080;
}

.btn-inicio:hover {
  opacity: 1;
}

.footer {
  position: relative;
  padding: 80px;
  background-color: #706e79;
  color: #fff;
  text-align: center;
  }

  .footer a {
    color: #fff;
  }

/* Mobile*/
@media (max-width: 720px) { 
  
  .navigation li {    
    width: 130px;
    font-size: 1.1rem;
    
  }

} 